@import-normalize;

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./assets/fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype');
}

html {
  font-family: 'OpenSans-SemiBold';
  box-sizing: border-box;
  background: #f3f7fa;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
ul li {
  list-style: none;
}
